

.portfolio-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    gap: 2rem;
}

.port-box {
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    background: #292e33;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--hover-color);
    box-shadow: var(--neon-box-shadow);
    transition: transform 0.3s ease;
    height: 400px; /* Set a specific height for consistency */
}

.port-img {
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 100%;
    width: 100%; 
}

.port-img img {
    width: 100%; /* Fill the width of the container */
    height: 100%; /* Fill the height of the container */
    object-fit: cover; /* Cover the box while maintaining aspect ratio */
    transition: opacity 0.5s ease;
}

.port-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0.5rem;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.5s ease;
}

.port-box:hover .port-content {
    opacity: 1;
    background: linear-gradient(aqua, pink, magenta, orange);
    display: flex;
}

.main-text{
    margin-bottom: 5%;
}